*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* To remove a scrollbar */
::-webkit-scrollbar{
    display: none;
}

body{
    text-align: center;
    color:darkblue
}

img[alt = "logo"]{
    width: 300px;
    margin-right: 1300px;
    position: relative;
    top: 50px;
}

.about{
    width: 100px;
    color:crimson
}
